

header{
    background-color: #cccccc;
    width:auto;
    color: black;
}

body{
    background-color: #f2f2f2;
    width: auto;
    color: black;
}

footer{
    background-color: #a6a6a6;
    width: auto;
    color: black;
}
