

header{
    background-color: #cccccc;
    width:auto;
    color: black;
    margin: 0%;
    top:0;
}

nav{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30;
}
.login{
    text-align: right;
}
.login:hover{
    color:white;
    font-size: 35;
}

.titlenav{
    font-size: 80;
    text-align: center;
    color: #66e0ff;
}



body{
    background-color: #f2f2f2;
    width: auto;
    color: black;
    margin: 0%;
    height: 700px;
}

footer{
    bottom: 0;
    background-color: #a6a6a6;
    width: auto;
    color: black;
    margin: 0%;
}
