

header{
    background-color: #cccccc;
    width:auto;
    color: black;
    margin: 0%;
    top:0;
}

header.nav.a{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20;
}

.navigazioneTasti{
    left: 0px;
}

.loginRegistrati{
    right: 0px;
}

header.title{
    font-size: 50;
    color: #66e0ff;
}

body{
    background-color: #f2f2f2;
    width: auto;
    color: black;
    margin: 0%;
}

footer{
    bottom: 0;
    background-color: #a6a6a6;
    width: auto;
    color: black;
    margin: 0%;
}
